Test/.vs/Test/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
Test/Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp.dll
Test/Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp.ref.dll
Test/Library/ScriptAssemblies/Assembly-CSharp.dll
